@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
$mobile-width: 1023px;
$checked-color: #2196F3;
$card-main-text-color : #4A4A4A;
$main-background-color: #E5E5E5;
$white-color: #FFFFFF;
$border-color: #DFE5EC;
$tickets-title-color : #A0B0B9;
$hover-color: #F1FCFF;
